html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body{font-size:0;}
div{font-size:0;}
p{margin:0;word-spacing:normal;}
h1{margin:0;word-spacing:normal;}
h2{margin:0;word-spacing:normal;}
h3{margin:0;word-spacing:normal;}
h4{margin:0;word-spacing:normal;}
h5{margin:0;word-spacing:normal;}
h6{margin:0;word-spacing:normal;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
form{display:inline-block;}
input{box-sizing:border-box;padding:0px;}
textarea{box-sizing:border-box;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
/* patterns from subtlepatterns.com */
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes rotateIn{from{-webkit-transform-origin:center;-webkit-transform:rotate3d(0,0,1,-200deg);opacity:0}to{-webkit-transform-origin:center;-webkit-transform:none;opacity:1}}@keyframes rotateIn{from{transform-origin:center;transform:rotate3d(0,0,1,-200deg);opacity:0}to{transform-origin:center;transform:none;opacity:1}}.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn}
.menu-content {
	display: inline-block;
	cursor: pointer;
}

li {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
@-webkit-keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0)}}@keyframes slideInUp{from{transform:translate3d(0,100%,0);visibility:visible}to{transform:translate3d(0,0,0)}}.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp}
@-webkit-keyframes flipInX{from{-webkit-transform:perspective(400px) rotate3d(1,0,0,90deg);-webkit-animation-timing-function:ease-in;opacity:0}40%{-webkit-transform:perspective(400px) rotate3d(1,0,0,-20deg);-webkit-animation-timing-function:ease-in}60%{-webkit-transform:perspective(400px) rotate3d(1,0,0,10deg);opacity:1}80%{-webkit-transform:perspective(400px) rotate3d(1,0,0,-5deg)}to{-webkit-transform:perspective(400px)}}@keyframes flipInX{from{transform:perspective(400px) rotate3d(1,0,0,90deg);animation-timing-function:ease-in;opacity:0}40%{transform:perspective(400px) rotate3d(1,0,0,-20deg);animation-timing-function:ease-in}60%{transform:perspective(400px) rotate3d(1,0,0,10deg);opacity:1}80%{transform:perspective(400px) rotate3d(1,0,0,-5deg)}to{transform:perspective(400px)}}.flipInX{backface-visibility:visible !important;-webkit-animation-name:flipInX;animation-name:flipInX}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
@-webkit-keyframes slideInRight{from{-webkit-transform:translate3d(100%,0,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0)}}@keyframes slideInRight{from{transform:translate3d(100%,0,0);visibility:visible}to{transform:translate3d(0,0,0)}}.slideInRight{-webkit-animation-name:slideInRight;animation-name:slideInRight}
@-webkit-keyframes slideInLeft{from{-webkit-transform:translate3d(-100%,0,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0)}}@keyframes slideInLeft{from{transform:translate3d(-100%,0,0);visibility:visible}to{transform:translate3d(0,0,0)}}.slideInLeft{-webkit-animation-name:slideInLeft;animation-name:slideInLeft}
#body{background-color:transparent;background:transparent url(../images/symphony.png) repeat center top;}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:0;}
.size{width:100%;min-width:960px;min-height:80px;}
.cont{z-index:35;display:block;top:0;position:-webkit-sticky;position:-moz-sticky;position:-o-sticky;position:-ms-sticky;position:sticky;}
.cont-2{z-index:36;border:0;background:transparent url(../images/topbar-960.png) no-repeat 50% 100%;background-size:cover;background-clip:padding-box;}
.pos-2{position:relative;margin-top:8px;}
.section{min-width:960px;width:960px;margin-left:auto;margin-right:auto;display:block;}
.pos-3{position:relative;margin-left:10px;margin-top:0;}
.size-2{min-width:938px;width:938px;min-height:56px;}
.pos-4{position:relative;margin-left:0;margin-top:2px;}
.size-3{min-width:300px;width:300px;min-height:54px;}
.colwrapper{line-height:0;}
.pos-5{position:relative;margin-left:0;margin-top:0;}
.size-4{min-width:300px;width:300px;min-height:50px;}
.pos-6{position:relative;margin-left:0;margin-top:5px;}
.size-5{min-width:40px;width:40px;min-height:40px;height:40px;}
.cont-4{z-index:38;}
.anchor{display:block;width:40px;}
.img{position:absolute;left:0;width:39px;height:40px;top:0;border-radius:20px;border:0;}
.img-2{left:0;width:39px;height:40px;top:0;}
.pos-7{position:relative;margin-left:5px;margin-top:0;}
.size-6{min-width:255px;width:255px;min-height:50px;}
.cont-5{z-index:39;}
.vis-2{display:inline-block;overflow:hidden;outline:0;}
.size-7{width:255px;height:33px;}
.font{font-family:"Helvetica Neue", sans-serif;font-size:9.00pt;font-weight:400;font-style:normal;text-decoration:none;color:transparent;line-height:10.74pt;letter-spacing:normal;text-indent:0;padding-right:0;text-align:center;word-wrap:break-word;padding-top:17px;margin-top:0;margin-bottom:0;}
.button{border:0;border-radius:25px;background:transparent url(../images/nexus-online-255.png) no-repeat 50% 50%;background-size:contain;background-clip:padding-box;}
.button:hover{background-color:transparent;border-color:rgb(0,0,0);color:transparent;}
.button:active{background-color:transparent;border-color:rgb(0,0,0);color:transparent;}
.pos-9{position:relative;margin-left:0;margin-top:1px;}
.size-8{min-width:300px;width:300px;min-height:3px;height:3px;}
.cont-6{z-index:40;border:0;background-color:rgb(255,255,255);}
.vis-3{display:inline-block;vertical-align:top;}
.pos-10{position:relative;margin-left:90px;margin-top:0;}
.size-9{min-width:548px;width:548px;min-height:56px;height:56px;}
.menu{z-index:40;padding:0px 0px 0px 0px;}
.menu-link{outline:0;}
.size-10{min-width:74px;width:74px;min-height:56px;height:56px;}
.size-11{min-width:74px;width:74px;min-height:53px;height:53px;}
.cont-7{border-bottom:3px solid transparent;background-color:transparent;}
.pos-11{position:relative;margin-left:0;margin-top:-49px;}
.size-12{min-width:74px;width:74px;min-height:39px;}
.para{padding-top:0;text-indent:0;margin-top:4.02pt;margin-bottom:-4.02pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-2{font-family:"Arial Unicode MS", sans-serif;font-size:15.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:28.14pt;letter-spacing:normal;}
.pos-12{position:relative;margin-top:-80px;}
.size-13{min-width:1px;width:1px;min-height:1px;}
.pos-13{position:relative;margin-top:149px;}
.size-14{width:100%;min-width:960px;min-height:400px;}
.cont-8{z-index:1;}
.cont-9{z-index:25;border:0;background-color:transparent;}
.pos-14{position:relative;margin-top:82px;}
.pos-15{position:relative;margin-left:6px;margin-top:0;}
.size-15{min-width:944px;width:944px;min-height:240px;}
.cont-10{z-index:26;}
.pos-16{position:relative;margin-left:0;margin-top:18px;}
.size-16{min-width:304px;width:304px;min-height:200px;}
.size-17{min-width:304px;width:304px;min-height:46px;}
.size-18{min-width:46px;width:46px;min-height:46px;height:46px;}
.img-3{position:absolute;left:0;width:46px;height:46px;top:0;border:0;}
.img-4{left:0;width:46px;height:46px;top:0;}
.pos-17{position:relative;margin-left:11px;margin-top:4px;}
.size-19{min-width:247px;width:247px;min-height:40px;}
.para-2{padding-top:0;text-indent:0;margin-top:0;margin-bottom:0;padding-right:0;text-align:left;word-wrap:break-word;}
.font-3{font-family:"Microsoft YaHei", sans-serif;font-size:21.00pt;font-weight:200;font-style:normal;text-decoration:none;color:rgb(102,204,255);line-height:27.93pt;letter-spacing:5.00px;}
.pos-18{position:relative;margin-left:4px;margin-top:22px;}
.size-20{min-width:300px;width:300px;min-height:64px;}
.para-3{padding-top:0;text-indent:0;margin-top:1.00pt;margin-bottom:-1.00pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-4{font-family:"Microsoft YaHei", sans-serif;font-size:15.00pt;font-weight:200;font-style:normal;text-decoration:none;color:rgb(102,204,255);line-height:21.95pt;letter-spacing:1.00px;}
.para-4{padding-top:0;text-indent:0;margin-top:0.90pt;margin-bottom:-0.90pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-5{font-family:"Microsoft YaHei", sans-serif;font-size:13.50pt;font-weight:200;font-style:normal;text-decoration:none;color:rgb(102,204,255);line-height:19.75pt;letter-spacing:1.00px;}
.pos-19{position:relative;margin-left:4px;margin-top:16px;}
.size-21{min-width:300px;width:300px;min-height:52px;}
.cont-11{z-index:31;}
.size-22{width:300px;height:39px;}
.font-6{font-family:"Arial Unicode MS", sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:18.09pt;letter-spacing:normal;text-indent:0;padding-right:0;text-align:center;word-wrap:break-word;padding-top:13px;margin-top:0;margin-bottom:0;}
.button-2{border:0;border-radius:5px;background-color:rgb(173,227,255);box-shadow:1px 1px 2px rgb(128,128,128);}
.button-2:hover{background-color:rgb(102,204,255);border-color:rgb(227,155,126);color:rgb(255,255,255);}
.button-2:active{background-color:rgb(173,227,255);border-color:rgb(227,155,126);color:rgb(255,255,255);}
.pos-20{position:relative;margin-left:50px;margin-top:0;}
.size-23{min-width:240px;width:240px;min-height:240px;}
.cont-12{z-index:29;border:0;border-radius:120px;background-color:rgb(255,255,255);box-shadow:0 0 30px rgb(255,255,255);}
.pos-21{position:relative;margin-left:0;margin-top:86px;}
.size-24{min-width:240px;width:240px;min-height:68px;}
.cont-13{z-index:30;}
.para-5{padding-top:0;text-indent:0;margin-top:0;margin-bottom:0;padding-right:0;text-align:center;word-wrap:break-word;}
.font-7{font-family:"Microsoft YaHei", sans-serif;font-size:36.00pt;font-weight:200;font-style:normal;text-decoration:none;color:rgb(102,204,255);line-height:47.88pt;letter-spacing:5.00px;}
.pos-22{position:relative;margin-left:50px;margin-top:22px;}
.size-25{min-width:300px;width:300px;min-height:196px;}
.para-6{padding-top:0;text-indent:0;margin-top:3.19pt;margin-bottom:-3.19pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-8{font-family:"Microsoft YaHei", sans-serif;font-size:12.00pt;font-weight:200;font-style:normal;text-decoration:none;color:rgb(102,204,255);line-height:22.35pt;letter-spacing:1.00px;}
.pos-23{position:relative;margin-top:99px;}
.size-26{width:100%;min-width:960px;min-height:200px;}
.cont-14{z-index:2;}
.cont-15{z-index:14;border:0;background-color:transparent;}
.size-27{min-width:944px;width:944px;min-height:50px;}
.size-28{min-width:36px;width:36px;min-height:36px;height:36px;}
.cont-16{z-index:15;}
.img-5{position:absolute;left:0;width:36px;height:36px;top:0;border:0;}
.img-6{left:0;width:36px;height:36px;top:0;}
.pos-24{position:relative;margin-left:10px;margin-top:7px;}
.size-29{min-width:198px;width:198px;min-height:32px;}
.cont-17{z-index:16;}
.font-9{font-family:"Arial Unicode MS", sans-serif;font-size:16.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(102,204,255);line-height:22.11pt;letter-spacing:normal;}
.pos-25{position:relative;margin-left:40px;margin-top:0;}
.size-30{min-width:660px;width:660px;min-height:50px;}
.cont-18{z-index:17;}
.para-7{padding-top:0;text-indent:0;margin-top:4.02pt;margin-bottom:-4.02pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-10{font-family:"Arial Unicode MS", sans-serif;font-size:15.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(102,204,255);line-height:28.14pt;letter-spacing:normal;}
.size-31{min-width:940px;width:940px;min-height:150px;}
.size-32{min-width:240px;width:240px;min-height:150px;}
.size-33{min-width:240px;width:240px;min-height:50px;}
.cont-19{z-index:19;}
.size-34{min-width:240px;width:240px;min-height:40px;}
.cont-20{z-index:22;}
.para-8{padding-top:0;text-indent:0;margin-top:0;margin-bottom:0;padding-right:0;text-align:right;word-wrap:break-word;}
.font-11{font-family:"Arial Unicode MS", sans-serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(102,204,255);line-height:16.08pt;letter-spacing:normal;}
.size-35{min-width:240px;width:240px;min-height:60px;}
.cont-21{z-index:23;}
.cont-22{z-index:20;border:0;background-color:transparent;}
.size-36{min-width:240px;width:240px;min-height:45px;}
.cont-23{z-index:21;}
.size-37{width:240px;height:35px;}
.font-12{font-family:"Arial Unicode MS", sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:18.09pt;letter-spacing:normal;text-indent:0;padding-right:0;text-align:center;word-wrap:break-word;padding-top:10px;margin-top:0;margin-bottom:0;}
.size-38{min-width:660px;width:660px;min-height:150px;}
.para-9{padding-top:0;text-indent:0;margin-top:3.22pt;margin-bottom:-3.22pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-13{font-family:"Arial Unicode MS", sans-serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(227,155,126);line-height:22.51pt;letter-spacing:normal;}
.cont-24{z-index:13;}
.cont-25{z-index:3;border:0;background-color:transparent;}
.cont-26{z-index:4;}
.cont-27{z-index:5;}
.cont-28{z-index:6;}
.cont-29{z-index:8;}
.cont-30{z-index:11;}
.cont-31{z-index:12;}
.cont-32{z-index:9;border:0;background-color:transparent;}
.cont-33{z-index:10;}
.pos-26{position:relative;margin-top:240px;}
.pos-27{position:relative;margin-left:170px;margin-top:0;}
.size-39{min-width:620px;width:620px;min-height:144px;}
.cont-34{z-index:24;}
.para-10{padding-top:0;text-indent:0;margin-top:2.71pt;margin-bottom:-2.71pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-14{font-family:"Arial Unicode MS", sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(227,155,126);line-height:23.51pt;letter-spacing:normal;}
.para-11{padding-top:0;text-indent:0;margin-top:1.95pt;margin-bottom:-1.95pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-15{font-family:"Microsoft YaHei", sans-serif;font-size:9.75pt;font-weight:200;font-style:normal;text-decoration:none;color:rgb(227,155,126);line-height:16.86pt;letter-spacing:normal;}
.font-16{font-family:"Microsoft YaHei", sans-serif;font-size:9.75pt;font-weight:200;font-style:normal;text-decoration:underline;color:rgb(227,155,126);line-height:16.86pt;letter-spacing:normal;}
.para-12{padding-top:0;text-indent:0;margin-top:1.95pt;margin-bottom:-1.95pt;padding-right:0;text-align:center;word-wrap:break-word;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont-2{background-image:url(../images/topbar-1920.png);background-size:cover;}
}
@media (min-width:1200px) {
.cont-2{background-image:url(../images/topbar-1200.png);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont-2{background-image:url(../images/topbar-2400.png);background-size:cover;}
}
@media (min-width:1600px) {
.cont-2{background-image:url(../images/topbar-1600.png);background-size:cover;}
}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes rotateIn{from{-webkit-transform-origin:center;-webkit-transform:rotate3d(0,0,1,-200deg);opacity:0}to{-webkit-transform-origin:center;-webkit-transform:none;opacity:1}}@keyframes rotateIn{from{transform-origin:center;transform:rotate3d(0,0,1,-200deg);opacity:0}to{transform-origin:center;transform:none;opacity:1}}.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
@-webkit-keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0)}}@keyframes slideInUp{from{transform:translate3d(0,100%,0);visibility:visible}to{transform:translate3d(0,0,0)}}.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp}
@-webkit-keyframes rotateInUpLeft{from{-webkit-transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,45deg);opacity:0}to{-webkit-transform-origin:left bottom;-webkit-transform:none;opacity:1}}@keyframes rotateInUpLeft{from{transform-origin:left bottom;transform:rotate3d(0,0,1,45deg);opacity:0}to{transform-origin:left bottom;transform:none;opacity:1}}.rotateInUpLeft{-webkit-animation-name:rotateInUpLeft;animation-name:rotateInUpLeft}
#body-2{background-color:rgb(255,255,255);background:rgb(255,255,255) url(../images/photography.png) repeat center top;}
.cont-35{z-index:166;display:block;top:0;position:-webkit-sticky;position:-moz-sticky;position:-o-sticky;position:-ms-sticky;position:sticky;}
.cont-36{z-index:167;border:0;background:transparent url(../images/topbar-960.png) no-repeat 50% 100%;background-size:cover;background-clip:padding-box;}
.pos-28{position:relative;margin-left:0;margin-top:7px;}
.cont-37{z-index:169;}
.pos-29{position:relative;margin-left:5px;margin-top:2px;}
.cont-38{z-index:170;}
.size-40{min-width:548px;width:548px;min-height:56px;}
.menu-2{z-index:168;padding:0px 0px 0px 0px;}
.pos-30{position:relative;margin-left:0;margin-top:-3px;}
.size-41{min-width:74px;width:74px;min-height:3px;height:3px;}
.cont-39{z-index:171;border:0;background-color:rgb(255,255,255);}
.pos-31{position:relative;margin-top:66px;}
.size-42{width:100%;min-width:960px;min-height:1px;}
.pos-32{position:relative;margin-top:-1px;}
.pos-33{position:relative;margin-top:31px;}
.pos-34{position:relative;margin-left:152px;margin-top:0;}
.size-43{min-width:96px;width:96px;min-height:96px;height:96px;}
.cont-40{z-index:27;}
.img-7{position:absolute;left:0;width:96px;height:96px;top:0;opacity:0.3;border-radius:50px;border:2px dotted rgb(102,204,255);}
.img-8{left:0;width:96px;height:96px;top:0;}
.pos-35{position:relative;margin-top:-94px;}
.cont-41{z-index:14;}
.cont-42{z-index:15;border:0;background-color:transparent;}
.size-44{min-width:940px;width:940px;min-height:50px;}
.font-17{font-family:"Arial Unicode MS", sans-serif;font-size:24.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(102,204,255);line-height:32.16pt;letter-spacing:normal;}
.size-45{min-width:940px;width:940px;min-height:250px;}
.size-46{min-width:240px;width:240px;min-height:250px;}
.cont-43{z-index:18;}
.cont-44{z-index:20;}
.pos-36{position:relative;margin-left:56px;margin-top:0;}
.size-47{min-width:128px;width:128px;min-height:128px;height:128px;}
.img-9{position:absolute;left:0;width:128px;height:128px;top:0;border-radius:5px;border:0;}
.img-10{left:0;width:128px;height:128px;top:0;}
.cont-45{z-index:22;border:0;background-color:transparent;}
.button-3{border:0;border-radius:5px;background-color:rgb(170,224,139);box-shadow:1px 1px 2px rgb(128,128,128);}
.button-3:hover{background-color:rgb(124,195,84);border-color:rgb(227,155,126);color:rgb(255,255,255);}
.button-3:active{background-color:rgb(170,224,139);border-color:rgb(227,155,126);color:rgb(255,255,255);}
.size-48{min-width:660px;width:660px;min-height:235px;}
.size-49{width:100%;min-width:960px;min-height:100px;height:100px;}
.cont-46{z-index:24;border:0;background-color:transparent;}
.pos-37{position:relative;margin-top:-30px;}
.pos-38{position:relative;margin-top:-2px;}
.cont-47{z-index:79;}
.cont-48{z-index:53;}
.cont-49{z-index:28;border:0;background-color:transparent;}
.cont-50{z-index:29;}
.cont-51{z-index:33;}
.cont-52{z-index:38;border:0;background-color:transparent;}
.cont-53{z-index:34;}
.cont-54{z-index:35;border:0;background-color:transparent;}
.cont-55{z-index:36;}
.cont-56{z-index:37;border:0;background-color:transparent;}
.cont-57{z-index:105;}
.cont-58{z-index:66;}
.cont-59{z-index:41;border:0;background-color:transparent;}
.cont-60{z-index:42;}
.cont-61{z-index:43;}
.cont-62{z-index:44;}
.cont-63{z-index:46;}
.cont-64{z-index:51;border:0;background-color:transparent;}
.cont-65{z-index:52;}
.cont-66{z-index:47;}
.cont-67{z-index:48;border:0;background-color:transparent;}
.cont-68{z-index:49;}
.cont-69{z-index:50;border:0;background-color:transparent;}
.cont-70{z-index:92;}
.cont-71{z-index:2;border:0;background-color:transparent;}
.cont-72{z-index:3;}
.cont-73{z-index:7;}
.cont-74{z-index:12;border:0;background-color:transparent;}
.cont-75{z-index:11;border:0;background-color:transparent;}
.cont-76{z-index:131;}
.cont-77{z-index:118;}
.cont-78{z-index:54;border:0;background-color:transparent;}
.cont-79{z-index:55;}
.font-18{font-family:"Arial Unicode MS", sans-serif;font-size:23.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(102,204,255);line-height:31.15pt;letter-spacing:normal;}
.cont-80{z-index:56;}
.cont-81{z-index:57;}
.cont-82{z-index:59;}
.cont-83{z-index:64;border:0;background-color:transparent;}
.cont-84{z-index:65;}
.cont-85{z-index:60;}
.cont-86{z-index:61;border:0;background-color:transparent;}
.cont-87{z-index:62;}
.cont-88{z-index:63;border:0;background-color:transparent;}
.cont-89{z-index:132;}
.cont-90{z-index:67;border:0;background-color:transparent;}
.cont-91{z-index:68;}
.cont-92{z-index:69;}
.cont-93{z-index:70;}
.cont-94{z-index:72;}
.cont-95{z-index:77;border:0;background-color:transparent;}
.cont-96{z-index:78;}
.cont-97{z-index:73;}
.cont-98{z-index:74;border:0;background-color:transparent;}
.cont-99{z-index:75;}
.cont-100{z-index:76;border:0;background-color:transparent;}
.cont-101{z-index:133;}
.cont-102{z-index:80;border:0;background-color:transparent;}
.cont-103{z-index:81;}
.cont-104{z-index:82;}
.cont-105{z-index:83;}
.cont-106{z-index:85;}
.cont-107{z-index:90;border:0;background-color:transparent;}
.cont-108{z-index:91;}
.cont-109{z-index:86;}
.cont-110{z-index:87;border:0;background-color:transparent;}
.cont-111{z-index:88;}
.cont-112{z-index:89;border:0;background-color:transparent;}
.cont-113{z-index:135;}
.cont-114{z-index:134;}
.cont-115{z-index:93;border:0;background-color:transparent;}
.cont-116{z-index:94;}
.cont-117{z-index:95;}
.cont-118{z-index:96;}
.cont-119{z-index:98;}
.cont-120{z-index:103;border:0;background-color:transparent;}
.cont-121{z-index:104;}
.cont-122{z-index:99;}
.cont-123{z-index:100;border:0;background-color:transparent;}
.cont-124{z-index:101;}
.cont-125{z-index:102;border:0;background-color:transparent;}
.cont-126{z-index:136;}
.cont-127{z-index:106;border:0;background-color:transparent;}
.cont-128{z-index:107;}
.cont-129{z-index:108;}
.cont-130{z-index:109;}
.cont-131{z-index:111;}
.cont-132{z-index:116;border:0;background-color:transparent;}
.cont-133{z-index:117;}
.cont-134{z-index:112;}
.cont-135{z-index:113;border:0;background-color:transparent;}
.cont-136{z-index:114;}
.cont-137{z-index:115;border:0;background-color:transparent;}
.cont-138{z-index:137;}
.cont-139{z-index:119;border:0;background-color:transparent;}
.cont-140{z-index:120;}
.cont-141{z-index:121;}
.cont-142{z-index:122;}
.cont-143{z-index:124;}
.cont-144{z-index:129;border:0;background-color:transparent;}
.cont-145{z-index:130;}
.cont-146{z-index:125;}
.cont-147{z-index:126;border:0;background-color:transparent;}
.cont-148{z-index:127;}
.cont-149{z-index:128;border:0;background-color:transparent;}
.cont-150{z-index:150;}
.cont-151{z-index:138;border:0;background-color:transparent;}
.cont-152{z-index:139;}
.cont-153{z-index:140;}
.cont-154{z-index:141;}
.cont-155{z-index:143;}
.cont-156{z-index:148;border:0;background-color:transparent;}
.cont-157{z-index:149;}
.cont-158{z-index:144;}
.cont-159{z-index:145;border:0;background-color:transparent;}
.cont-160{z-index:146;}
.cont-161{z-index:147;border:0;background-color:transparent;}
.cont-162{z-index:163;}
.cont-163{z-index:151;border:0;background-color:transparent;}
.cont-164{z-index:152;}
.cont-165{z-index:153;}
.cont-166{z-index:154;}
.cont-167{z-index:156;}
.cont-168{z-index:161;border:0;background-color:transparent;}
.cont-169{z-index:162;}
.cont-170{z-index:157;}
.cont-171{z-index:158;border:0;background-color:transparent;}
.cont-172{z-index:159;}
.cont-173{z-index:160;border:0;background-color:transparent;}
.pos-39{position:relative;margin-top:111px;}
.cont-174{z-index:164;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont-36{background-image:url(../images/topbar-1920.png);background-size:cover;}
}
@media (min-width:1200px) {
.cont-36{background-image:url(../images/topbar-1200.png);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont-36{background-image:url(../images/topbar-2400.png);background-size:cover;}
}
@media (min-width:1600px) {
.cont-36{background-image:url(../images/topbar-1600.png);background-size:cover;}
}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes rotateIn{from{-webkit-transform-origin:center;-webkit-transform:rotate3d(0,0,1,-200deg);opacity:0}to{-webkit-transform-origin:center;-webkit-transform:none;opacity:1}}@keyframes rotateIn{from{transform-origin:center;transform:rotate3d(0,0,1,-200deg);opacity:0}to{transform-origin:center;transform:none;opacity:1}}.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
@-webkit-keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0)}}@keyframes slideInUp{from{transform:translate3d(0,100%,0);visibility:visible}to{transform:translate3d(0,0,0)}}.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp}
@-webkit-keyframes rotateInUpLeft{from{-webkit-transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,45deg);opacity:0}to{-webkit-transform-origin:left bottom;-webkit-transform:none;opacity:1}}@keyframes rotateInUpLeft{from{transform-origin:left bottom;transform:rotate3d(0,0,1,45deg);opacity:0}to{transform-origin:left bottom;transform:none;opacity:1}}.rotateInUpLeft{-webkit-animation-name:rotateInUpLeft;animation-name:rotateInUpLeft}
#body-3{background-color:rgb(255,255,255);background:rgb(255,255,255) url(../images/foggy_birds.png) repeat center top;}
.cont-175{z-index:55;display:block;top:0;position:-webkit-sticky;position:-moz-sticky;position:-o-sticky;position:-ms-sticky;position:sticky;}
.cont-176{z-index:56;border:0;background:transparent url(../images/topbar-960.png) no-repeat 50% 100%;background-size:cover;background-clip:padding-box;}
.cont-177{z-index:58;}
.menu-3{z-index:57;padding:0px 0px 0px 0px;}
.pos-40{position:relative;margin-left:79px;margin-top:-3px;}
.cont-178{z-index:60;border:0;background-color:rgb(255,255,255);}
.pos-41{position:relative;margin-top:98px;}
.cont-179{z-index:14;}
.img-11{position:absolute;left:31px;width:65px;height:128px;top:0;border-radius:5px;border:0;}
.img-12{left:31px;width:65px;height:128px;top:0;}
.font-19{font-family:"Arial Unicode MS", sans-serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:underline;color:rgb(227,155,126);line-height:22.51pt;letter-spacing:normal;}
.cont-180{z-index:27;}
.cont-181{z-index:40;}
.pos-42{position:relative;margin-top:95px;}
.cont-182{z-index:54;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont-176{background-image:url(../images/topbar-1920.png);background-size:cover;}
}
@media (min-width:1200px) {
.cont-176{background-image:url(../images/topbar-1200.png);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont-176{background-image:url(../images/topbar-2400.png);background-size:cover;}
}
@media (min-width:1600px) {
.cont-176{background-image:url(../images/topbar-1600.png);background-size:cover;}
}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes rotateIn{from{-webkit-transform-origin:center;-webkit-transform:rotate3d(0,0,1,-200deg);opacity:0}to{-webkit-transform-origin:center;-webkit-transform:none;opacity:1}}@keyframes rotateIn{from{transform-origin:center;transform:rotate3d(0,0,1,-200deg);opacity:0}to{transform-origin:center;transform:none;opacity:1}}.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
@-webkit-keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0)}}@keyframes slideInUp{from{transform:translate3d(0,100%,0);visibility:visible}to{transform:translate3d(0,0,0)}}.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp}
@-webkit-keyframes rotateInUpLeft{from{-webkit-transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,45deg);opacity:0}to{-webkit-transform-origin:left bottom;-webkit-transform:none;opacity:1}}@keyframes rotateInUpLeft{from{transform-origin:left bottom;transform:rotate3d(0,0,1,45deg);opacity:0}to{transform-origin:left bottom;transform:none;opacity:1}}.rotateInUpLeft{-webkit-animation-name:rotateInUpLeft;animation-name:rotateInUpLeft}
#body-4{background-color:rgb(255,255,255);background:rgb(255,255,255) url(../images/sativa.png) repeat center top;}
.cont-183{z-index:136;display:block;top:0;position:-webkit-sticky;position:-moz-sticky;position:-o-sticky;position:-ms-sticky;position:sticky;}
.cont-184{z-index:137;border:0;background:transparent url(../images/topbar-960.png) no-repeat 50% 100%;background-size:cover;background-clip:padding-box;}
.menu-4{z-index:138;padding:0px 0px 0px 0px;}
.pos-43{position:relative;margin-left:158px;margin-top:-3px;}
.cont-185{z-index:141;border:0;background-color:rgb(255,255,255);}
.cont-186{z-index:40;}
.cont-187{z-index:66;}
.cont-188{z-index:80;}
.pos-44{position:relative;margin-left:-248px;margin-top:287px;}
.pos-45{position:relative;margin-top:-286px;}
.cont-189{z-index:79;}
.img-13{position:absolute;left:0;width:128px;height:128px;top:0;border-radius:20px;box-shadow:0 0 10px rgb(255,255,255);border:0;}
.cont-190{z-index:85;border:0;background-color:transparent;}
.cont-191{z-index:87;}
.cont-192{z-index:90;}
.cont-193{z-index:95;border:0;background-color:transparent;}
.cont-194{z-index:92;border:0;background-color:transparent;}
.cont-195{z-index:93;}
.cont-196{z-index:94;border:0;background-color:transparent;}
.cont-197{z-index:84;}
.cont-198{z-index:98;border:0;background-color:transparent;}
.cont-199{z-index:100;}
.cont-200{z-index:103;}
.cont-201{z-index:108;border:0;background-color:transparent;}
.cont-202{z-index:105;border:0;background-color:transparent;}
.cont-203{z-index:106;}
.cont-204{z-index:107;border:0;background-color:transparent;}
.cont-205{z-index:97;}
.cont-206{z-index:111;border:0;background-color:transparent;}
.cont-207{z-index:113;}
.cont-208{z-index:116;}
.cont-209{z-index:121;border:0;background-color:transparent;}
.cont-210{z-index:118;border:0;background-color:transparent;}
.cont-211{z-index:119;}
.cont-212{z-index:120;border:0;background-color:transparent;}
.cont-213{z-index:110;}
.cont-214{z-index:124;border:0;background-color:transparent;}
.cont-215{z-index:126;}
.cont-216{z-index:129;}
.cont-217{z-index:134;border:0;background-color:transparent;}
.cont-218{z-index:135;}
.cont-219{z-index:131;border:0;background-color:transparent;}
.cont-220{z-index:133;border:0;background-color:transparent;}
.pos-46{position:relative;margin-top:80px;}
.cont-221{z-index:123;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont-184{background-image:url(../images/topbar-1920.png);background-size:cover;}
}
@media (min-width:1200px) {
.cont-184{background-image:url(../images/topbar-1200.png);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont-184{background-image:url(../images/topbar-2400.png);background-size:cover;}
}
@media (min-width:1600px) {
.cont-184{background-image:url(../images/topbar-1600.png);background-size:cover;}
}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes rotateIn{from{-webkit-transform-origin:center;-webkit-transform:rotate3d(0,0,1,-200deg);opacity:0}to{-webkit-transform-origin:center;-webkit-transform:none;opacity:1}}@keyframes rotateIn{from{transform-origin:center;transform:rotate3d(0,0,1,-200deg);opacity:0}to{transform-origin:center;transform:none;opacity:1}}.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
@-webkit-keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0)}}@keyframes slideInUp{from{transform:translate3d(0,100%,0);visibility:visible}to{transform:translate3d(0,0,0)}}.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp}
@-webkit-keyframes rotateInUpLeft{from{-webkit-transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,45deg);opacity:0}to{-webkit-transform-origin:left bottom;-webkit-transform:none;opacity:1}}@keyframes rotateInUpLeft{from{transform-origin:left bottom;transform:rotate3d(0,0,1,45deg);opacity:0}to{transform-origin:left bottom;transform:none;opacity:1}}.rotateInUpLeft{-webkit-animation-name:rotateInUpLeft;animation-name:rotateInUpLeft}
#body-5{background-color:rgb(255,255,255);background:rgb(255,255,255) url(../images/symphony-1.png) repeat center top;}
.cont-222{z-index:95;display:block;top:0;position:-webkit-sticky;position:-moz-sticky;position:-o-sticky;position:-ms-sticky;position:sticky;}
.cont-223{z-index:96;border:0;background:transparent url(../images/topbar-960.png) no-repeat 50% 100%;background-size:cover;background-clip:padding-box;}
.menu-5{z-index:97;padding:0px 0px 0px 0px;}
.pos-47{position:relative;margin-left:237px;margin-top:-3px;}
.cont-224{z-index:100;border:0;background-color:rgb(255,255,255);}
.cont-225{z-index:57;border:0;background-color:transparent;}
.cont-226{z-index:63;}
.cont-227{z-index:66;border:0;background-color:transparent;}
.cont-228{z-index:70;border:0;background-color:transparent;}
.cont-229{z-index:71;}
.cont-230{z-index:76;}
.cont-231{z-index:79;border:0;background-color:transparent;}
.cont-232{z-index:83;border:0;background-color:transparent;}
.cont-233{z-index:89;}
.pos-48{position:relative;margin-top:107px;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont-223{background-image:url(../images/topbar-1920.png);background-size:cover;}
}
@media (min-width:1200px) {
.cont-223{background-image:url(../images/topbar-1200.png);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont-223{background-image:url(../images/topbar-2400.png);background-size:cover;}
}
@media (min-width:1600px) {
.cont-223{background-image:url(../images/topbar-1600.png);background-size:cover;}
}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes rotateIn{from{-webkit-transform-origin:center;-webkit-transform:rotate3d(0,0,1,-200deg);opacity:0}to{-webkit-transform-origin:center;-webkit-transform:none;opacity:1}}@keyframes rotateIn{from{transform-origin:center;transform:rotate3d(0,0,1,-200deg);opacity:0}to{transform-origin:center;transform:none;opacity:1}}.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn}
@-webkit-keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0)}}@keyframes slideInUp{from{transform:translate3d(0,100%,0);visibility:visible}to{transform:translate3d(0,0,0)}}.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp}
@-webkit-keyframes rotateInUpLeft{from{-webkit-transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,45deg);opacity:0}to{-webkit-transform-origin:left bottom;-webkit-transform:none;opacity:1}}@keyframes rotateInUpLeft{from{transform-origin:left bottom;transform:rotate3d(0,0,1,45deg);opacity:0}to{transform-origin:left bottom;transform:none;opacity:1}}.rotateInUpLeft{-webkit-animation-name:rotateInUpLeft;animation-name:rotateInUpLeft}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
#body-6{background-color:rgb(255,255,255);background:rgb(255,255,255) url(../images/geometry2.png) repeat center top;}
.cont-234{z-index:172;display:block;top:0;position:-webkit-sticky;position:-moz-sticky;position:-o-sticky;position:-ms-sticky;position:sticky;}
.cont-235{z-index:173;border:0;background:transparent url(../images/topbar-960.png) no-repeat 50% 100%;background-size:cover;background-clip:padding-box;}
.cont-236{z-index:175;}
.cont-237{z-index:176;}
.menu-6{z-index:174;padding:0px 0px 0px 0px;}
.pos-49{position:relative;margin-left:316px;margin-top:-3px;}
.cont-238{z-index:177;border:0;background-color:rgb(255,255,255);}
.pos-50{position:relative;margin-top:100px;}
.cont-239{z-index:105;}
.cont-240{z-index:117;border:0;background-color:transparent;}
.cont-241{z-index:130;border:0;background-color:transparent;}
.cont-242{z-index:144;border:0;background-color:transparent;}
.cont-243{z-index:145;}
.cont-244{z-index:141;border:0;background-color:transparent;}
.cont-245{z-index:142;}
.cont-246{z-index:143;border:0;background-color:transparent;}
.cont-247{z-index:148;}
.cont-248{z-index:157;border:0;background-color:transparent;}
.cont-249{z-index:158;}
.cont-250{z-index:154;border:0;background-color:transparent;}
.cont-251{z-index:155;}
.cont-252{z-index:156;border:0;background-color:transparent;}
.cont-253{z-index:161;}
.cont-254{z-index:165;}
.cont-255{z-index:170;border:0;background-color:transparent;}
.cont-256{z-index:171;}
.cont-257{z-index:166;}
.cont-258{z-index:167;border:0;background-color:transparent;}
.cont-259{z-index:168;}
.cont-260{z-index:169;border:0;background-color:transparent;}
.pos-51{position:relative;margin-top:73px;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont-235{background-image:url(../images/topbar-1920.png);background-size:cover;}
}
@media (min-width:1200px) {
.cont-235{background-image:url(../images/topbar-1200.png);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont-235{background-image:url(../images/topbar-2400.png);background-size:cover;}
}
@media (min-width:1600px) {
.cont-235{background-image:url(../images/topbar-1600.png);background-size:cover;}
}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes rotateIn{from{-webkit-transform-origin:center;-webkit-transform:rotate3d(0,0,1,-200deg);opacity:0}to{-webkit-transform-origin:center;-webkit-transform:none;opacity:1}}@keyframes rotateIn{from{transform-origin:center;transform:rotate3d(0,0,1,-200deg);opacity:0}to{transform-origin:center;transform:none;opacity:1}}.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn}
@-webkit-keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0)}}@keyframes slideInUp{from{transform:translate3d(0,100%,0);visibility:visible}to{transform:translate3d(0,0,0)}}.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp}
@-webkit-keyframes rotateInUpLeft{from{-webkit-transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,45deg);opacity:0}to{-webkit-transform-origin:left bottom;-webkit-transform:none;opacity:1}}@keyframes rotateInUpLeft{from{transform-origin:left bottom;transform:rotate3d(0,0,1,45deg);opacity:0}to{transform-origin:left bottom;transform:none;opacity:1}}.rotateInUpLeft{-webkit-animation-name:rotateInUpLeft;animation-name:rotateInUpLeft}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
#body-7{background-color:rgb(255,255,255);background:rgb(255,255,255) url(../images/ignasi_pattern_s.png) repeat center top;}
.cont-261{z-index:68;display:block;top:0;position:-webkit-sticky;position:-moz-sticky;position:-o-sticky;position:-ms-sticky;position:sticky;}
.cont-262{z-index:69;border:0;background:transparent url(../images/topbar-960.png) no-repeat 50% 100%;background-size:cover;background-clip:padding-box;}
.menu-7{z-index:70;padding:0px 0px 0px 0px;}
.pos-52{position:relative;margin-left:395px;margin-top:-3px;}
.cont-263{z-index:73;border:0;background-color:rgb(255,255,255);}
.img-14{position:absolute;left:1px;width:124px;height:128px;top:0;border-radius:5px;border:0;}
.img-15{left:1px;width:124px;height:128px;top:0;}
.font-20{font-family:"Arial Unicode MS", sans-serif;font-size:21.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(102,204,255);line-height:28.14pt;letter-spacing:normal;}
.cont-264{z-index:41;}
.cont-265{z-index:43;border:0;background-color:transparent;}
.cont-266{z-index:45;}
.cont-267{z-index:48;}
.cont-268{z-index:53;border:0;background-color:transparent;}
.cont-269{z-index:51;}
.cont-270{z-index:52;border:0;background-color:transparent;}
.cont-271{z-index:56;border:0;background-color:transparent;}
.cont-272{z-index:61;}
.cont-273{z-index:67;}
.cont-274{z-index:64;}
.cont-275{z-index:65;border:0;background-color:transparent;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont-262{background-image:url(../images/topbar-1920.png);background-size:cover;}
}
@media (min-width:1200px) {
.cont-262{background-image:url(../images/topbar-1200.png);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont-262{background-image:url(../images/topbar-2400.png);background-size:cover;}
}
@media (min-width:1600px) {
.cont-262{background-image:url(../images/topbar-1600.png);background-size:cover;}
}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes rotateIn{from{-webkit-transform-origin:center;-webkit-transform:rotate3d(0,0,1,-200deg);opacity:0}to{-webkit-transform-origin:center;-webkit-transform:none;opacity:1}}@keyframes rotateIn{from{transform-origin:center;transform:rotate3d(0,0,1,-200deg);opacity:0}to{transform-origin:center;transform:none;opacity:1}}.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn}
@-webkit-keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0)}}@keyframes slideInUp{from{transform:translate3d(0,100%,0);visibility:visible}to{transform:translate3d(0,0,0)}}.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp}
@-webkit-keyframes rotateInUpLeft{from{-webkit-transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,45deg);opacity:0}to{-webkit-transform-origin:left bottom;-webkit-transform:none;opacity:1}}@keyframes rotateInUpLeft{from{transform-origin:left bottom;transform:rotate3d(0,0,1,45deg);opacity:0}to{transform-origin:left bottom;transform:none;opacity:1}}.rotateInUpLeft{-webkit-animation-name:rotateInUpLeft;animation-name:rotateInUpLeft}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
#body-8{background-color:rgb(255,255,255);background:rgb(255,255,255) url(../images/xv.png) repeat center top;}
.cont-276{z-index:81;display:block;top:0;position:-webkit-sticky;position:-moz-sticky;position:-o-sticky;position:-ms-sticky;position:sticky;}
.cont-277{z-index:82;border:0;background:transparent url(../images/topbar-960.png) no-repeat 50% 100%;background-size:cover;background-clip:padding-box;}
.menu-8{z-index:83;padding:0px 0px 0px 0px;}
.pos-53{position:relative;margin-left:474px;margin-top:-3px;}
.cont-278{z-index:86;border:0;background-color:rgb(255,255,255);}
.pos-54{position:relative;margin-top:-115px;}
.pos-55{position:relative;margin-top:114px;}
.cont-279{z-index:68;border:0;background-color:transparent;}
.cont-280{z-index:78;border:0;background-color:transparent;}
.cont-281{z-index:74;}
.cont-282{z-index:75;border:0;background-color:transparent;}
.pos-56{position:relative;margin-top:79px;}
.cont-283{z-index:80;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont-277{background-image:url(../images/topbar-1920.png);background-size:cover;}
}
@media (min-width:1200px) {
.cont-277{background-image:url(../images/topbar-1200.png);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont-277{background-image:url(../images/topbar-2400.png);background-size:cover;}
}
@media (min-width:1600px) {
.cont-277{background-image:url(../images/topbar-1600.png);background-size:cover;}
}
